/* Reset básico */
* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#logo_main {
    display: flex;
    margin: 20px;
    float: left;
}

#upa-selection{
    float: right; 
    margin-left: 10px;
}

.div_head_unid {
    margin: 10px;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_head_unid h3 {
    margin-right: 10px; /* Espaço entre o título e o campo de seleção */
}

.div_title_data {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Centraliza horizontalmente os itens */
}

.title_sub {
    flex: 1; /* Ocupa o espaço necessário e permite centralização */
    text-align: center; /* Centraliza o texto dentro da div */
}

.div_unid{
    margin: 20px;
}

.data_main {
    margin-left: 50px; /* Espaço à esquerda */
}

/* Estilo do formulário */
#form-anamnese {
    margin-top: 20px;
}

legend{
    font-weight: bold;
    color: #363636;
}

#historic, #other_information{
    resize: none;
}

.fieldset_option{
    width: 100%;
    display:inline-block;
    margin: 5px;
    border: 1px solid #ccc;  
}

.div_field{
    display: inline-block;
    margin: 10px;
}

